body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #D2D7D8;
  }
  
  .container {
    text-align: center;
  }
  
  input {
    padding: 8px;
    margin: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #035691;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-weight: ;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .titulo, .subtitulo {
    display: block;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
  }
  
  h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #035691;
    font-size: 30px;
  }