body {
    background-color: #D2D7D8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    background-color: #00569d;
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo { /*banner*/
    width: 1870px;
    height: 200px;
    }

/*botões do menu*/
#menu {
    background-color: #D2D7D8;
    text-align: center;
    padding: 10px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    display: inline;
    margin: 0 px;
}
/* Estilo para o rodapé */
.footer {
    background-color: #00569d;
    color: #fff;
    padding: 10px;
    text-align: center;
 
}

/* Estilo para os links das imagens no rodapé */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    width: 20px;
}

/* Estilo para o número de telefone */
.phone {
    font-weight: bold;
}

/* Estilo para o pequeno texto no rodapé */
.text {
    font-size: 14px;
}

#search-box {
text-align: center;
margin-top: 20px;
background-color: #D2D7D8; /* Altere a cor de fundo da barra de busca */
border-radius: 5px; /* Adicione bordas arredondadas à barra de busca */
padding: 10px;
}

#search-input {
width: 20%; /* Ajuste a largura do campo de entrada de busca conforme necessário */
padding: 8px;
border: 1px solid #ccc; /* Adicione uma borda à caixa de entrada */
border-radius: 5px; /* Adicione bordas arredondadas à caixa de entrada */
font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

#search-button {
background-color: #00569d; /* Altere a cor de fundo do botão de busca */
color: #fff; /* Altere a cor do texto do botão de busca */
padding: 8px 16px;
border: none;
border-radius: 5px; /* Adicione bordas arredondadas ao botão de busca */
cursor: pointer;
font-size: 16px; /* Ajuste o tamanho da fonte do botão conforme necessário */
}

#search-button:hover {
background-color: #014175; /* Altere a cor de fundo quando o botão de busca for hover */
}


/*INCIOOOOO*/


section {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    padding: 20px;
    margin-right: 50px;
}

image {
    

        max-width: 100%;
        height: auto;
        border-radius: 8px;
}

.info {
    margin-left: 20px;
}

table {
    width: 70%; /* Defina a largura desejada aqui */
    border-collapse: collapse;
    margin-top: 20px;

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #00569d;
    color: white;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999999;
    border-radius: 6px;
    width: 500PX;
    margin-left: 550px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00569d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 550px;
}